
/* Header styles */
.header {
    background-color: $white-color;
    box-shadow: $shadow;
    position: sticky;
    top: 0;
    z-index: 100;
    
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
    }
    
    .logo {
      display: flex;
      align-items: center;
      
      h1 {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        
        span {
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
    
    .nav {
      display: flex;
      gap: 1.5rem;
      
      a {
        color: $text-color;
        font-weight: 500;
        
        &:hover, &.active {
          color: $primary-color;
        }
      }
    }
  
    .auth-buttons {
      display: flex;
      gap: 1rem;
    }
  
    /* Responsive styles */
    @media (max-width: 768px) {
      .container {
        height: auto;
        padding: 1rem 1.5rem;
        flex-direction: column;
        align-items: flex-start;
      }
      
      .nav {
        margin: 1rem 0;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 0.5rem;
      }
      
      .auth-buttons {
        width: 100%;
        justify-content: center;
      }
    }
  }